<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net452" />
  <package id="Dapper.Mapper" version="1.13" targetFramework="net452" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="PetaPoco" version="5.1.179" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.102.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.102.0" targetFramework="net452" />
  <package id="System.Data.SQLite.x86" version="1.0.102.0" targetFramework="net452" />
</packages>